body {
    font-family: Arial, sans-serif;
    background-image: url(../images/log.png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x:240px ;;
    background-position-y:180px ;
   background-color: #007BFF;
   background-size: 490px;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #3797fe(69, 125, 228);
    margin: 50px auto;
    margin-top: 9%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 550px;
    transition: transform 0.3s ease, box-shadow 0.2s ease;
}
.container:hover {
    transform: translateY(-10px) scale(1.00);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


h1 {
    text-align: center;
}

.form-section {
    margin: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #2d30eb;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #2629df;
}

p {
    text-align: center;
}

a {
    color: #f8f9fa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
