* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #007BFF;
    background-image: url(../images/reg\ \(2\).png);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 384px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #3797fe(69, 125, 228);
  
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 550px;
    transition: transform 0.3s ease, box-shadow 0.2s ease;
}

.form-container:hover {
    transform: translateY(-10px) scale(1.00);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

form {
    display: flex;
    flex-direction: column;
    
}

label {
    margin-bottom: 5px;
    color: #030506;
}

input, select, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #fafafa;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

textarea {
    resize: none;
}

button {
    padding: 10px;
    background-color: #2d30eb;
    color: #040609;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2629df;
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    color: #f3f6f9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

